<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> navbar }}

    
    <div class="row">
        <div class="-col-8">
            <h1></h1>
        </div>
    </div>

    <div class="col-4">
        <img src="assets/img/mi_cat.jpg" alt="" class="img-thumbnail">
    </div>

    {{> footer }}
</body>
</html>